body {
    font-family: sans-serif;
    background-color: #3b5a9d;

}

.box h1{
    color: #283f72;
    text-transform: uppercase;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #4fb2aa;
    text-align: center;
    border-radius: 5%;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    display: block;
    background: none;
    outline: none;
    background-color: rgb(181, 221, 226);
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(62, 12, 66);
    color: black;
    height: 40px;
    border-radius: 20px;
    cursor: context-menu;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 200px;
    border-color: #d9f072;
}

.box input[type = "submit"]{
    border: 0;
    display: block;
    background: none;
    outline: none;
    background-color: rgb(181, 221, 226);
    margin: 20px auto;
    text-align: center;
    border: 3px solid #d9f072;
    color: rgb(60, 105, 102);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background-color: #3b5a9d;
    color: white;
}